
.bg{
  background-color: bisque;
  width: 100vw; 
  height: 100vh;
  position:absolute;
   
}
.column{
  width: 33vw;
  height: 100vh;
  float: left;
  position:relative;
}
.mickey{
  float: left;
  width: 40%;
  height:40%;
  
}
.round{
  width: 50px;
  height: 50px;
  background:greenyellow;
  border-radius: 50%;
  position: relative;
  left: 25px;
  top:75px;
  background: radial-gradient(circle, blue, yellow, rgb(0, 102, 128));
  border-radius: 50%;
  animation: example 1s linear 1s infinite alternate;
  animation-delay: 0s;
  animation-timing-function: ease-in;
}
.block1 {
  position: absolute;
  top: 50px;
  left: 700px;
}
.square{ 
  border-radius: 15px 10% 8px 1px;
  animation: example 1s linear 1s infinite alternate;
  width: 100px;
  height: 100px;
  background:green;
  box-shadow: 5px -5px 5px 3px yellow;
  animation-delay: 0s;
  animation-timing-function: ease-in;
}

.block2 {
  position: absolute;
  top: 25px;
  left: 97%;
}

@keyframes example {
  30% {
    transform: translate(10px, 10px);
    
    opacity: 0.5;
  }
  50% {
    transform: translate(40px, 40px);
  }
  100% {
    transform: translate(15px, 15px);
    
    opacity: 0.5;
  }
    40% {
    left: 50;
    }
    100% {
    left: 200px;
    }
    }

