/*@font-face {
    font-family: Nexa; /* Гарнитура шрифта */
    src: url(fonts/NexaRustSans-Black.otf); /* Путь к файлу со шрифтом */
   }
  /* .g {
    font-family: Nexa;
    color:white;
    position	: absolute;
	  top		: 11px;
	  left		: 325px;
    width		: 100%;
    font-size: 36px;
    font-weight:bold;
   }*/